<!DOCTYPE html>
<html>

<head>

    <title>ATC Voice Intelligence System</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">

</head>
<header class="top-header">

    <img
        src="{{ url_for('static', filename='images/aai_logo.jpg') }}"
        alt="AAI Logo"
        class="aai-logo"
    >

</header>
<body>

{% with messages = get_flashed_messages() %}

{% if messages %}

{% for message in messages %}

<div class="flash">

{{ message }}

</div>

{% endfor %}

{% endif %}

{% endwith %}

{% block content %}

{% endblock %}

</body>

</html>